html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  line-height: 1.65;
  padding-bottom: 1000px;
  color: #e3e5ea;
  background: radial-gradient(circle at bottom left,transparent 25%,#4f46e4 25.5%, #4f46e4 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,#4f46e4 34.5%, #4f46e4 45.5%, transparent 46%, transparent 100%);
        background-size: 6em 6em;
        background-color: #ffffff;
        opacity: 1
}

.container-satu {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 43px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 43px 7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 43px 7px rgba(0,0,0,0.75);
}

.sidebar-satu {
  order: -1;
  width: 260px;
  background-color: #2468f5;
  margin-right: 20px;
  padding: 0 15px 0 15px;
}

h2,
h3 {
  text-align: center;
  background-color: #91aadd;
}

li {
  list-style-type: none;
}

a {
  color: #e3e5ea;
  text-decoration: none;
}

li a {
    position: relative;
}

li a:hover {
  color: white;
}

/* Pengaturan Animasi hover line dari kiri ke kanan*/
li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: bottom left;
}

.kolom-utama {
  background-color: #365491;
  width: 750px;
  padding: 0 15px 0 15px;
  margin-right: 20px;
}

.sidebar-dua {
  width: 300px;
  background-color: #2468f5;
  padding: 0 15px 0 15px;
}
